﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("Scripts\bootstrap.js")

    @{
        const string ServiceRequestsControllerName = "ServiceRequests";
        const string ComplaintsControllerName = "Complaints";
    }

</head>
<body>
    <div class="container header-nav headtopdiv">
        <nav class=" header-nav navbar-left">
            <h1>Customer Relationship Managment</h1>
        </nav>
        <nav class="header-nav navbar-right">
            Data 2001 Marzec 8, 23:45:32<br />
            Jesteś zalogowany jako admin<br />
            <a href="/logout" target="_self" class="hidden-xs ">Wyloguj</a>
        </nav>

    </div>
    <div class="clearfix"></div>

    <div class="container menu contentmaindiv">
        <div class="col-md-3" style="padding-top:20px;">
            <div class="list-group">
                <div class="list-group-item">
                    <h3>Klienci</h3>
                    <ul class="nav nav-sidebar">
                        <li><a href="createcustomer">Stwórz</a></li>
                        <li><a href="searchcustomer">Wyszukaj</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <h3>Zgłoszenia</h3>
                    <ul class="nav nav-sidebar">
                        <li>@Html.ActionLink("Nowe zgłoszenie", "Create", ServiceRequestsControllerName)</li>
                        <li>@Html.ActionLink("Wszystkie zgłoszenia", "List", ServiceRequestsControllerName)</li>
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <h3>Reklamacje</h3>
                    <ul class="nav nav-sidebar">
                        <li>@Html.ActionLink("Nowa reklamacja", "Create", ComplaintsControllerName)</li>
                        <li>@Html.ActionLink("Wszystkie reklamacje", "List", ComplaintsControllerName)</li>
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <h3>MailBox</h3>
                    <ul class="nav nav-sidebar">
                        <li><a href="inbox">Odebrane</a></li>
                        <li><a href="outbox">Wysłane</a></li>
                        <li><a href="spam">Spam</a></li>
                        <li><a href="trash">Kosz</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9 maincontentright">
            @RenderBody()
        </div>
        <div class="container navbar-fixed-bottom stopka" style="display: none;">
            <nav class="navbar-left">Stopka Copyright</nav>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/coffee")
</body>
</html>
