﻿@import (reference) "../bootstrap/bootstrap.less";

@std-textarea-height: 100px;
@std-margin: 5%;

.round-borders (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}


.fill-verticaly {
    width: 100%;
}

#title-tb {
    .fill-verticaly();
    margin-right: @std-margin;
}

textarea {
    .form-control();
    .fill-verticaly();
    height: @std-textarea-height;
    margin-right: @std-margin;
}
