﻿@bg-color: #eee;

body {
    background-color: @bg-color;
}

.headtopdiv {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 15px;
}

.contentmaindiv
{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.maincontentright{
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.stopka {
    background-color: white; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    border: 1px solid #DDD; 
    padding: 15px; 
}

