﻿@model CRM.WebApp.Models.Appications.ServiceRequest

@{
    ViewBag.Title = "Szczegóły zgłoszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredictedRealizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredictedRealizationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientInterview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientInterview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceRequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceRequestStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceRequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
