﻿@model IEnumerable<CRM.WebApp.Models.Appications.ServiceRequest>

@{
    ViewBag.Title = "Zgłoszenia serwisowe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceRequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredictedRealizationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceRequestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredictedRealizationDate)
        </td>
        <td>
            @Html.ActionLink("Pokaż", "Details", new { id = item.ServiceRequestId })
        </td>
    </tr>
}

</table>
